BOT_TOKEN=8769892726:AAF_06ngL2zzwSOoPQJvmP2VRsX-s7mjIPY
MONGODB_URI=mongodb+srv://musubi2934_db_user:ANoEtyHYrJtW84BK@cluster0.vorwoi8.mongodb.net/cw_auto
ADMIN_ID=7386934803
GROUP_ID=-1003079107015
VITE_API_URL=https://kilt-scrubbed-sliced.ngrok-free.dev
LATEST_JOB_ID=12625697
